<nav style="position: relative">
  <a href="./index.html" class="logo">
    <img src="./assets/logo.png" style="width: 100px; height: 100px" />
  </a>
  <div class="nav-container">
    <ul class="nav-links">
      <li>
        <a href="./menu.html">Menú</a>
      </li>
      <li>
        <a href="./order.html">Pedir</a>
      </li>
    </ul>
    <ul class="auth-links">
      <li id="auth-buttons">
        <a href="./signup.html">Registrarse</a>
        <a href="./login.html">Iniciar sesión</a>
      </li>
      <li id="user-profile" style="display: none">
        <div class="user-menu">
          <img id="user-avatar" src="" alt="Profile" class="user-avatar" />
          <div class="user-dropdown">
            <span id="user-name"></span>
            <a href="./profile.html">Profile</a>
            <button id="logout-btn">Logout</button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>
